// Global Variables
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap");

$header-height: 60px;
$footer-height: 50px;
$marvel-red-primary: #ed1d24;
$marvel-red-secondary: lighten($marvel-red-primary, 10%);
$marvel-red-button: darken($marvel-red-primary, 10%);

#root {
  height: 100%; // Set height of App to take up the full height of the screen
  width: 100%; // Set width of App to take up the full height of the screen
  text-align: center;
  display: flex;
  flex-direction: column;
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $header-height;
  padding: 0;
  background-color: $marvel-red-primary;
  color: white; // Font color
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  font-family: "Oswald", sans-serif;

  h1 {
    font-weight: 500;
  }

  button {
    background-color: $marvel-red-button;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    cursor: pointer;

    &:hover {
      background-color: $marvel-red-secondary;
    }
  }

  .title {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.app-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  // min-height: 100vh;

  .app-body {
    flex: 1;
    overflow-y: auto;
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: column;
    // min-height: 100vh;

    .network-container,
    .graph-container {
      padding: 20px;
      border: 1px dashed gray;
      margin: 20px 0;
      flex: 1;
    }
  }
}

.app-footer {
  // position: fixed;
  // bottom: 0;
  // left: 0;
  width: 100vw;
  text-align: center;
  padding: 0;
  background-color: $marvel-red-primary;
  color: white;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;

  .filter-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; // Allow buttons to wrap to next line if needed

    & > div {
      margin: 10px;
    }

    button {
      background-color: $marvel-red-button;
      color: white;
      border: none;
      padding: 5px 10px;
      margin: 5px;
      cursor: pointer;

      &:hover {
        background-color: $marvel-red-secondary;
      }
    }
  }

  p {
    color: white;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  width: auto;
  height: 100vh;
  background-color: $marvel-red-primary;
  transition: left 0.3s ease;
  z-index: 1001;
  display: none;
  flex-direction: row;

  &.isVisible {
    display: flex;
  }

  .mobile-menu-content {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    overflow-y: auto;

    .row {
      display: flex;
      flex-direction: row;
    }

    button {
      background-color: $marvel-red-button;
      color: white;
      border: none;
      padding: 5px 10px;
      margin: 5px;
      cursor: pointer;

      &:hover {
        background-color: $marvel-red-secondary;
      }
    }
  }

  .mobile-menu-button {
    width: 30px;
    background-color: $marvel-red-primary;
    color: white;
    border: none;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}

// Hide Header and Footer for small screens
.app-header,
.app-footer {
  @media (max-width: 768px), (max-height: 500px) {
    display: none;
  }
}

//Show the mobile menu for small screens
.mobile-menu-button,
.mobile-menu {
  @media (max-width: 768px), (max-height: 500px) {
    display: flex;
  }
}

@media (max-width: 768px), (max-height: 500px) {
  .app-body {
    margin-left: 30px;
  }
}
